<div class="container">
    <div class="row">
        <h2><%= @ramenshop.name %>　の情報</h2></br></br>
        <%= form_with model:@ramenshop, url: users_ramenshops_path, local: true do |f| %>
            <%= attachment_image_tag @ramenshop, :image, format: 'jpg', fallback: "no_image.jpg", size: "autox200" %>
        <% end %>
        <div class="post">
            <div class="card-deck" style="width: auto">
                <% @posts.each do |post| %>
                <div class="card">
                    <div class="card-body">
                        <%= attachment_image_tag post, :image, format: 'jpg', fallback: "no_image.jpg", size: "200x200" %>
                        <h5 class="card-title"><%= post.ramenshop.name %></h5>
                        <p class="card-text"><%= post.comment %></p>
                        <a href="#" class="btn btn-primary"><%= post.user.name %>様(投稿数：<%= post.user.posts.count.to_s %>）</a>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>