<!DOCTYPE html>
<html>
  <head>
    <title>LoveRamen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <nav class="nav navbar-nav navbar-left">
          <span class="title">しぇからしか〜、ラーメン行くばい</span>
        </nav>
       <nav>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path, {class: "glyphicon glyphicon-flash flash"} %></li>
              <li><%= link_to "マイページ", root_path, {class: "glyphicon glyphicon-home home"} %></li>
              <li><%= link_to "商品一覧", root_path, {class: "glyphicon glyphicon-book book"} %></li>
              <li><%= link_to "カート", root_path, {class: "glyphicon glyphicon-book book"} %></li>
              <li>←これがリンク！<%#= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "glyphicon glyphicon-log-out log-out" %></li>
          </ul>
        </nav>
    </header>
    <%= yield %>
    <footer>
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight LoveRamen</p>
    	</div>
    </footer>
  </body>
</html>
